@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
	--text-primary-color: #fff;
	--text-secondary-color: #000;
	--text-tertiary-color: #2c6cbe;

	--border-color: #000;
	--background-dark: #000;

	--box-radius: 10px;
	--box-bg: #fff;

	--navbar-font-size: 22px;
	--navbar-font-size-mobile: 20px;

	--link-color: #f00;
	--link-hover-color: #00f;
	--link-box-bg: #919191;
	--link-text-font-size-md: 20px;
	--link-text-font-size-sm: 16px;

	--project-padding: 20px;
	--project-title-size: 1.5em;
	--project-subtitle-size: 1em;
	--project-link-size: 1em;

	--list-icon-width: 20px;
	--list-icon-width-sm: 5px;
	--list-margin-left: 30px;
	--list-margin: 10px 0;
	--list-margin-sm: 5px 0;
	--list-color-green: #008000;
	--list-color-red: #f00;

	--spacing-xs: 5px;
	--spacing-sm: 10px;
	--spacing-md: 20px;
	--spacing-lg: 40px;

	--breakpoint-xs: 480px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1200px;
}

body {
	background-color: var(--background-dark);
	font-family: 'VT323', monospace;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-color) !important;
}

#footer-text {
	text-align: center;
	color: var(--text-primary-color);
	padding: var(--spacing-sm);
}
